#clockbox {
    height: px;
    color: rgb(163, 163, 163);
    position: relative;
    top: 8px;
    left: 765px;
}

body {
    background-image: url(../images/giphy\ \(2\).gif);
}

#Title {
    color: #1b998b;
}

#btn {
    float: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
}

#square{
    position: absolute;
    top: 120px;
    left: 80px;
    color: peru;
    background-color: rgb(0, 0, 0);
    height: 75px;
    padding: 20px;
    margin-left: 0px;
    width: 75px;
    animation:w3-spin 12s infinite linear;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: w3-spin, example;
}

#square1{
        position: absolute;
        top: 120px;
        right: 80px;
        color: peru;
        background-color: rgb(0, 0, 0);
        height: 75px;
        padding: 20px;
        margin: 0px;
        width: 75px;
        animation:w3-spin 12s infinite linear;
        animation-duration: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: w3-spin, example;
}

#square2{
        position: absolute;
        top: 300px;
        left: 80px;
        color: peru;
        background-color: rgb(0, 0, 0);
        height: 75px;
        padding: 20px;
        margin: 0px;
        width: 75px;
        animation:w3-spin 12s infinite linear;
        animation-duration: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: w3-spin, example;
}

#square3{
        position: absolute;
        top: 480px;
        right: 80px;
        color: peru;
        background-color: rgb(0, 0, 0);
        height: 75px;
        padding: 20px;
        margin: 0px;
        width: 75px;
        animation:w3-spin 12s infinite linear;
        animation-duration: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: none;
        animation-play-state: running;
        animation-name: w3-spin, example;
}

#square4{
    position: absolute;
    top: 480px;
    left: 80px;
    color: peru;
    background-color: rgb(0, 0, 0);
    height: 75px;
    padding: 20px;
    margin: 0px;
    width: 75px;
    animation:w3-spin 12s infinite linear;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: w3-spin, example;
}

#square5{
    position: absolute;
    top: 660px;
    right: 80px;
    color: peru;
    background-color: rgb(0, 0, 0);
    height: 75px;
    padding: 20px;
    margin: 0px;
    width: 75px;
    animation:w3-spin 12s infinite linear;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: w3-spin, example;
}

#square6{
    position: absolute;
    top: 660px;
    left: 80px;
    color: peru;
    background-color: rgb(0, 0, 0);
    height: 75px;
    padding: 20px;
    margin: 0px;
    width: 75px;
    animation:w3-spin 12s infinite linear;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: w3-spin, example;
}

#square7{
    position: absolute;
    top: 300px;
    right: 80px;
    color: peru;
    background-color: rgb(0, 0, 0);
    height: 75px;
    padding: 20px;
    margin: 0px;
    width: 75px;
    animation:w3-spin 12s infinite linear;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: w3-spin, example;
}

#square8{
    position: absolute;
    top: 840px;
    left: 80px;
    color: peru;
    background-color: rgb(0, 0, 0);
    height: 75px;
    padding: 20px;
    margin: 0px;
    width: 75px;
    animation:w3-spin 12s infinite linear;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: w3-spin, example;
}

#square9{
    position: absolute;
    top: 840px;
    right: 80px;
    color: peru;
    background-color: rgb(0, 0, 0);
    height: 75px;
    padding: 20px;
    margin: 0px;
    width: 75px;
    animation:w3-spin 12s infinite linear;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: w3-spin, example;
}
